.transaction {
  display: flex;
  flex-direction: column;

  &__content {
    box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
    margin: 1rem;
    padding: 0.5rem;
    justify-content: space-around;
    text-align: left;
  }

  &__title {
    font-weight: 200;
    color: gray;
    font-size: 12px;
  }

  &__content {
    display: flex;
    padding: 1rem;
  }

  &__info-box {
  }
}
